body {
    background-color: rgb(88, 86, 86);
}

.header {
    display: flex;
    justify-content: center;
}


.formen {
    display: flex;
    justify-content: center;
}

.lista {
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
}

.inkomst_utgift {
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
}

.Inkomster-h2 {
    

}

.utgifter-h2 {

}

.total {
    display: flex;
    justify-content: center;
}



@media screen and (max-width: 470px) {
    body {
        color: yellow;
    }

    .header {
        display: flex;
        justify-content: center;
    }

    .formen {
        display: grid;


}