/*Responsive för skärmar över 470 resolution*/
body {
    background-color: rgb(88, 86, 86);
}

.header {
    display: flex;
    justify-content: center;
}


.formen {
    display: flex;
    justify-content: center;
}

.lista {
    display: flex;
    justify-content: space-evenly;
    height: 45vh;
}

.inkomst_utgift {
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
}

.total1 {
    display: flex;
    justify-content: center;
}


/*Responsive för flesta skärmar mindre än 470 resolution*/
@media screen and (max-width: 470px) {
    body {
        color: yellow;
    }

    .header {
        display: flex;
        justify-content: center;
    }

    .formen {
        display: grid;
}